.footer {
max-width: 880px;          
margin: 67px auto 0 auto;            
padding-bottom: 60px;
padding-top: 0; 
}

.footer__copyright {
  color: #545454;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  text-align: left;          
  letter-spacing: 0.02em;
  margin-left: 37px;
}